/* challans_de_paris.css */
#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: #fff;
}

#wrap #headBox {
  width: 100%;
  height: 140px;
  padding: 10px 72px 0;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  z-index: 1000;
  background-color: #fff;
}

#wrap #headBox .headinner1 {
  width: 100%;
  height: 55%;
  margin: auto;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  display: flex;
}

#wrap #headBox .headinner1 h1 {
  width: 54%;
  margin: auto 0;
}

#wrap #headBox .headinner1 h1 a {
  width: 100%;
}

#wrap #headBox .headinner1 h1 a img {
  width: 254px;
  height: 16px;
}

#wrap #headBox .headinner1 .search {
  width: 356px;
  height: 38px;
  margin: auto;
  background-color: #eee;
  border-radius: 50px;
}

#wrap #headBox .headinner1 .paris_go {
  width: 3.8%;
  margin: auto;
}

#wrap #headBox .headinner1 .paris_go a {
  width: 100%;
  display: block;
}

#wrap #headBox .headinner1 .paris_go a img {
  width: 49px;
  height: 64px;
}

#wrap #headBox .headinner1 .seoul_go {
  width: 3%;
  margin: auto;
}

#wrap #headBox .headinner1 .seoul_go a {
  width: 100%;
  display: block;
}

#wrap #headBox .headinner1 .seoul_go a img {
  width: 39px;
  height: 67px;
}

#wrap #headBox .headinner2 {
  width: 100%;
  height: 45%;
  display: flex;
  gap: 23%;
}

#wrap #headBox .headinner2 .gnb {
  width: 55%;
  display: flex;
}

#wrap #headBox .headinner2 .gnb a {
  margin: auto;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

#wrap #headBox .headinner2 .gnb a:nth-child(1) {
  width: 13%;
}

#wrap #headBox .headinner2 .gnb a:nth-child(2) {
  width: 10%;
}

#wrap #headBox .headinner2 .gnb a:nth-child(3) {
  width: 12%;
}

#wrap #headBox .headinner2 .gnb a:nth-child(4) {
  width: 16%;
}

#wrap #headBox .headinner2 .gnb a:nth-child(5) {
  width: 19%;
}

#wrap #headBox .headinner2 .gnb a:nth-child(6) {
  width: 15%;
}

#wrap #headBox .headinner2 .unb {
  width: 45%;
  display: flex;
}

#wrap #headBox .headinner2 .unb a {
  width: 21%;
  margin: auto;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

#wrap #viewport {
  width: 100%;
  height: auto;
  padding: 0 72px;
  /* viewBox main */
}

#wrap #viewport a {
  width: 100%;
  height: auto;
}

#wrap #viewport img {
  width: 100%;
  height: auto;
}

#wrap #viewport .swiper {
  width: 100%;
  height: auto;
}

#wrap #viewport .swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

#wrap #viewport .container {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 30px 20px;
  position: relative;
}

#wrap #viewport .swiper-slide {
  width: 100%;
  height: auto;
  background-color: #eee;
}

#wrap #viewport .swiper-pagination-bullet {
  width: 40px;
  height: 3px;
  border-radius: 0;
  background-color: #fff;
}

#wrap #viewport .swiper-pagination-bullet-active {
  width: 80px;
  background-color: #fff;
}

#wrap #viewport .swiper-button-next.swiper-button-disabled,
#wrap #viewport .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

#wrap #viewport .swiper-button-next, #wrap #viewport .swiper-button-prev {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  backdrop-filter: blur(3px);
  transition: 0.4s;
  z-index: 1001;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

#wrap #viewport .swiper-button-next, #wrap #viewport .swiper-button-prev::after {
  color: #ddd;
}

#wrap #viewport .swiper-button-prev, #wrap #viewport .swiper-button-next:hover {
  color: #DBCB96;
}

#wrap h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

#wrap .button_move {
  width: 232px;
  height: 62px;
  margin: 50px auto;
  display: block;
  border: 1px solid #282C37;
  border-radius: 50px;
  text-align: center;
  line-height: 62px;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

#wrap #promotion {
  margin: 100px 0;
  padding: 0 72px;
}

#wrap #promotion .promtion_inner {
  display: flex;
  flex-wrap: wrap;
}

#wrap #promotion .promotion_img {
  width: 400px;
  height: 400px;
  margin: auto;
}

#wrap #promotion .promotion_img img {
  width: auto;
  height: 100%;
  margin: auto;
  display: block;
}

#wrap #promotion .promotion_content {
  width: auto;
  height: auto;
  margin: auto;
  margin-bottom: 62px;
}

#wrap #promotion .promotion_content .promotion_text {
  width: auto;
  height: auto;
  margin-top: 20px;
}

#wrap #promotion .promotion_content .promotion_text p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

#wrap #promotion .promotion_content .promotion_text :nth-child(2) {
  font-size: 15px;
  margin-top: 8px;
}

#wrap #bestseller {
  background-color: #ECF0F1;
  padding: 120px 72px;
}

#wrap #bestseller swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#wrap #bestseller swiper-slide {
  width: 300px;
  height: 380px;
  margin: auto;
  display: block;
  background-position: center;
  background-size: cover;
}

#wrap #bestseller swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

#wrap #bestseller p {
  width: 275px;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

#wrap #instagram {
  width: 100%;
  height: auto;
  margin: 100px 0;
}

#wrap #instagram .insta_inner {
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#wrap #instagram .insta_inner a {
  width: 33.334%;
  height: 50%;
}

#wrap #instagram .insta_inner a img {
  width: 100%;
  height: 100%;
  border: 0.5px solid #282C37;
}

#wrap #contact {
  width: 100%;
  height: auto;
  padding: 0 72px 10px;
}

#wrap #contact .Fnb {
  width: 100%;
  height: 50px;
  display: flex;
  margin: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

#wrap #contact .Fnb a {
  width: 14.29%;
  margin: auto;
  text-transform: uppercase;
}

#wrap #contact .Fnb a :nth-child(1) {
  width: 9%;
}

#wrap #contact .Fnb a :nth-child(2) {
  width: 10%;
}

#wrap #contact .Fnb a :nth-child(3) {
  width: 11%;
}

#wrap #contact .Fnb a :nth-child(4) {
  width: 7%;
}

#wrap #contact .Fnb a :nth-child(5) {
  width: 7%;
}

#wrap #contact .Fnb a :nth-child(6) {
  width: 6%;
}

#wrap #contact .Fnb a :nth-child(7) {
  width: 7%;
}

#wrap #contact .foot_inner {
  display: flex;
  gap: 41.85%;
  margin-top: 60px;
  padding: 0 45px;
}

#wrap #contact .foot_left img {
  width: 236px;
  height: 17px;
  margin-bottom: 24px;
}

#wrap #contact .foot_left p {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
}

#wrap #contact .foot_left p span {
  margin-right: 20px;
}

#wrap #contact .foot_left p button {
  font-size: 15px;
}

#wrap #contact .foot_right {
  margin-top: 37px;
}

#wrap #contact .foot_right span {
  font-size: 20px;
  font-weight: 500;
}

#wrap #contact .foot_right p {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
}

#wrap #contact .copyright {
  margin: 30px 45px 0;
}

#wrap #contact .copyright p {
  font-size: 15px;
  color: #282C37;
}
